/* COMMON */
body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #fffef2;
  color: #333;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
span {
  display: inline-block;
}
section {
  margin-bottom: 200px;
  font-size: 15px;
}

section > div h3 {
  display: block;
  font-size: 30px;
  margin: 20px 0 30px;
  line-height: 1.3;
}

section > div p {
  line-height: 1.7;
  margin-bottom: 30px;
}
.text-area {
  width: 35%;
  flex: none;
  font-size: 14px;
}

.text-area a {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.material-symbols-outlined {
  font-size: 15px;
  font-weight: bold;
}
.strongHover a strong {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.strongHover a:hover strong::before {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #333;
  content: "";
  bottom: 0;
}
.btnHover {
  width: 300px;
  transition: 0.3s;
  padding: 20px 30px;
  box-sizing: border-box;
  border: 1px solid rgba(51,51,51,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnHover:hover {
  background-color: #333;
  color: #fffef2;
  border-color: #333;
}
.btnHover:hover .material-symbols-outlined {
  font-weight: normal;
}
button {
  border: none;
  background-color: unset;
  cursor: pointer;
}
button.swiper-button-next,
button.swiper-button-prev {
  border: none;
  background-color: #333;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: 1s ease-in-out;
}
button.swiper-button-prev {
  left: -100%;
}
button.swiper-button-next {
  right: -100%;
}

button.swiper-button-prev.swiper-button-disabled,
button.swiper-button-next.swiper-button-disabled {
  display: none;
}

button.swiper-button-next::after,
button.swiper-button-prev::after {
  font-size: 15px;
  color: #fff;
}

/* TOP BANNER */
.shippingBanner-body {
  background-color: #252525;
  color: #fff;
  font-size: 14px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shippingBanner-body a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.shippingBanner-body a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #fff;
}
.shippingBanner-body span {
  padding-left: 20px;
  font-size: 20px;
}

/* TOP BANNER LEFT PANEL */
.panelBackground {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  animation: fade-out 0.3s ease-out forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.panelBackground.on {
  animation: fade-in 0.3s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}

.shippingBanner-body__panel {
  position: fixed;
  top: 0;
  font-size: 14px;
  width: 50%;
  height: 100vh;
  padding: 100px 150px;
  box-sizing: border-box;
  background-color: #f1f0e8;
  overflow-y: auto;
  left: -100%;
  z-index: 10;
  transition: 1s;
}

.shippingBanner-body__panel.on {
  left: 0;
}

.shippingBanner-body__panel .closeBtn {
  position: absolute;
  right: 30px;
  top: 30px;
}

.shippingBanner-body__panel .closeBtn span {
  font-size: 23px;
  font-weight: normal;
  color: #333;
}

.shippingBanner-body__panel .panel-list li {
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
} 

.shippingBanner-body__panel .panel-list li:last-child {
  border-bottom: 0;
}

.shippingBanner-body__panel .panel-list li:nth-child(2) p{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.shippingBanner-body__panel .panel-list li:nth-child(2) p:last-child {
  margin-bottom: 0;
}

.shippingBanner-body__panel .panel-list li h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.shippingBanner-body__panel .panel-list li p {
  line-height: 1.7;
}

.shippingBanner-body__panel .panel-list li p a {
  text-decoration: underline;
  display: inline-block;
}

/* HEADER */
header {
  display: flex;
  background-color: #333;
  color: #fff;
  height: 80px;
  position: relative;
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 14px;
}
header .main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

header .main-menu .material-symbols-outlined {
  font-size: 25px;
  font-weight: normal;
}

header .main-menu li > a:hover {
  color: #f6f5e8;
}
header .sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  gap: 20px;
}


/* CONTENTS */
/* visual */
.visual {
  height: 550px;
  background-image: url("../images/Aesop_Eidesis_2022_Web_Homepage_Primary_Full_Bleed_Desktop_L_2880x1044px.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.visual .visual__content {
  display: flex;
  padding: 100px 50px;
  box-sizing: border-box;
  gap: 100px;
}

.visual h1 {
  fill: #fff;
}

.visual h1 .logo {
  fill: #fff;
}

.visual .visual__txt-area {
  color: #fff;
  margin: 10px 0;
  width: 400px;
}

.visual .visual__txt-area strong {
  margin: 30px 0;
  font-size: 30px;
  display: block;
}

.visual .visual__txt-area p:nth-child(3) {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.visual .visual__txt-area .eidesisBtn {
  border: 1px solid #fff;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
  transition: 0.3s;
}

.visual .visual__txt-area .eidesisBtn:hover {
  color: #333;
  background-color: #fff;
}

/* perfume */
.perfume {
  display: flex;
  /* height: 40vh; */
  position: relative;
  padding: 0 100px;
  box-sizing: border-box;
}

.perfume div h3 {
  display: block;
  font-size: 30px;
  margin: 20px 0 30px;
  line-height: 1.3;
}

.perfume div p {
  line-height: 1.7;
  margin-bottom: 30px;
}

.perfume .text-area a span {
  margin-left: 5px;
}

.perfume .perfume__list {
  display: flex;
}

.perfume .perfume__list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfume .perfume__list li a img {
  width: 95%;
  margin: 0 auto;
}

.perfume .perfume__list li a p {
  margin-bottom: 50px;
}

.perfume:hover button.swiper-button-next,
.perfume:hover button.swiper-button-prev {
  opacity: 1;
}

.perfume:hover button.swiper-button-prev {
  left: 0;
}

.perfume:hover button.swiper-button-next {
  right: 0;
}

.perfume .swiper-scrollbar {
  position: absolute;
  top: inherit;
  width: calc(100% - 200px);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 2px;
}

/* aroma */
.aroma {
  display: flex;
  padding-left: 100px;
  margin-bottom: 150px;
}

.aroma .aroma__text-area {
  width: 370px;
  flex: none;
  padding-left: 80px;
  box-sizing: border-box;
}

.aroma video {
  width: 65%;
  padding-left: 100px;
  box-sizing: border-box;
}

/* change */
.change {
  display: flex;
}

.change img {
  width: 65%;
  padding-right: 150px;
  box-sizing: border-box;
}

.change .text-area {
  padding-right: 100px;
  box-sizing: border-box;
}

.change .text-area strong {
  margin-top: 0;
}

/* selection */
.selection {
  padding: 0 80px;
  box-sizing: border-box;
}

.selection h2 {
  display: block;
  font-size: 30px;
  margin-bottom: 120px;
}

.selection .selection__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection .selection__list li {
  width: 25%;
}
.selection .selection__list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selection .selection__list li a img {
  height: 400px;
}

/* locater */
.locater {
  display: flex;
  position: relative;
}
.locater .text-area {
  padding-left: 80px;
  box-sizing: border-box;
}
.locater h2 {
  display: block;
  font-size: 30px;
  margin-bottom: 30px;
}

.locater .store {
  width: 65%;
  margin-left: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.locater .store ul {
  display: flex;
}

.locater .store ul li img {
  width: 100%;
}


.locater .store .swiper-scrollbar {
  position: absolute;
  width: 100%;
  top: inherit;
  left: 0;
  bottom: 0;
  height: 2px;
}

.locater .swiper-pagination {
  background-color: rgba(0,0,0,0.1);
  height: 2px;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  display: flex;
}

.locater .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: rgba(0,0,0,0.5);
}
/* 
.locater .swiper-pagination-bullet {
  width: calc(100% / 3);
  border-radius: inherit;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}

.locater .swiper-pagination-bullet-active {
  background-color: #333;
  opacity: 1;
} */

.locater .store button.swiper-button-next,
.locater .store button.swiper-button-prev  {
  top: calc(50% - 50px);
  display: block;
}

.locater .store:hover button.swiper-button-next,
.locater .store:hover button.swiper-button-prev {
  opacity: 1;
}

.locater .store:hover .swiper-button-prev {
  left: 0;
}

.locater .store:hover .swiper-button-next {
  right: 0;
}

.locater .store-locate {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 20px;
}
.locater .store-locate li {
  background-color: #fffef2;
}

/* FOOTER */
footer {
  background-color: #252525;
  padding: 50px 30px;
  box-sizing: border-box;
  color: #fffef2;
}

footer input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid #bcbbb4;
  display: flex;
  flex: none;
  align-items: center;
  margin-right: 10px;
}

footer input[type="checkbox"]:checked::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: auto;
}

footer input[type="checkbox"]:checked {
  color: #fff;
  font-weight: bold;
}

footer input[type="text"] {
  background-color: inherit;
  border: none;
}

footer > ul {
  display: flex;
  flex-wrap: wrap;
}

footer > ul > li {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-right: 30px;
  box-sizing: border-box;
  font-size: 14px;
}

footer > ul > li:nth-child(1),
footer > ul > li:nth-child(5) {
  width: 40%;
}

footer > ul > li:nth-child(4),
footer > ul > li:nth-child(8) {
  padding-right: 0;
}

footer > ul > li h3 {
  font-size: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fffef2;
  margin-bottom: 20px;
}

footer > ul > li > p {
  margin-bottom: 20px;
  line-height: 1.7;
}

footer > ul > li > ul > li {
  margin-bottom: 20px;
}

footer > ul > li > ul > li > a {
  display: inline-block;
}

footer .material-symbols-outlined {
  font-weight: normal;
  margin-left: 5px;
  vertical-align: middle;
}

footer .chbox-area {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
}

footer .chbox-area label {
  display: flex;
  align-items: center;
}

footer .text-box {
  width: 100%;
  border: 1px solid #fffef2;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  line-height: 1.7;
  margin-top: -15px;
}

footer .text-box.private__con {
  height: 100px;
  overflow-y: auto;
}

footer .email-addr {
  border: 1px solid #fffef2;
  border-radius: 3px;
  display: flex;
  position: relative;
  margin-bottom: 50px;
}

footer .email-addr input {
  border-right: 1px solid #fffef2;
  height: 100%;
  padding: 10px;
  width: calc(100% - 40px);
  color: #fffef2;
}

footer .email-addr label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

footer .email-addr button {
  background-color: inherit;
  color: #fff;
  width: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer__locate p {
  margin-bottom: 15px;
}

footer .footer__locate a {
  text-decoration:underline;
}

footer .footer__possibility P a {
  display: inline-block;
  text-decoration: underline;
}

.footer__rights {
  border-top: 3px solid #d6d5cb;
  background-color: #252525;
  color: #fffef2;
  padding: 30px;
  font-size: 16px;
}