/* COMMON */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #fffef2;
}

.logo svg {
  cursor: pointer;
  outline: none;
}

.btn {
  outline: none;
  background-color: transparent;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.btn.btn--dark {
  color: #fff;
  border: 1px solid #fff;
}
.btn.btn--dark:hover {
  background-color: #fffef2;
  color: black;
}
.btn.btn--dark svg {
  fill: #fff;
}
.btn.btn--dark:hover svg {
  fill: black;
}
.btn.btn--light {
  border: 1px solid rgba(51, 51, 51, 0.2);
}
.btn.btn--light:hover {
  background-color: #333333;
  color: #fff;
}
.btn.btn--light:hover svg {
  fill: #fff;
}

/* HEADER */
header {
  width: 100%;
}
.head-top {
  text-align: center;
  padding: 12px 20px 10px 15px;
  background-color: #252525;
}
.head-top-wrap {
  display: inline-block;
  padding-bottom: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}
.head-top-wrap:hover {
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
}
.head-top .head-top-wrap p {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-right: 15px;
}
.head-top .head-top-wrap span {
  display: inline-block;
  color: #fff;
}
.head-bottom {
  width: 100%;
  background-color: #333333;
}
.head-bottom.scroll-up {
  position: fixed;
  top: 0;
  z-index: 100000000;
  /* background-color: #fffef2; */
}
.head-gnb {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 35px;
}
.head-gnb-wrap {
  display: flex;
}
.head-gnb-wrap li {
  color: #fff;
  margin-right: 28px;
  height: 80px;
  line-height: 80px;
  font-size: 14px;
  cursor: pointer;
}
.head-gnb-wrap i {
  font-size: 18px;
}
.head-personal {
  display: flex;
  color: #fff;
}
.head-personal p {
  margin-right: 25px;
  line-height: 80px;
  font-size: 14px;
  cursor: pointer;
}

/* HEADER-MODAL */
.head-top .modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;

  z-index: -10;
  opacity: 0;
}
.head-top .modal-wrap {
  text-align: start;
  width: 50vw;
  height: 100vh;
  background-color: #f1f0e8;
  overflow: scroll;
  position: fixed;
  top: 0;

  left: -50vw;
}

.head-top .modal-wrap i {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 20px;
}
.head-top .modal-area {
  width: 30vw;
  margin: auto;
  padding-top: 200px;
}
.modal-contents > li {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.modal-contents > li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-contents .modal-cont-wrap h4 {
  margin-bottom: 15px;
}
.modal-contents .modal-cont-wrap:first-child > h4 {
  margin-bottom: 0;
}
.modal-contents .modal-cont-wrap p {
  color: #666;
  width: 29vw;
}
.modal-contents .modal-cont-wrap .modal-cont-down div {
  display: flex;
  justify-content: space-between;
}
.modal-contents .modal-cont-wrap .modal-cont-down div:first-child {
  margin-bottom: 40px;
}
.modal-contents .modal-cont-wrap .modal-cont-down div span {
  color: #666;
}
.modal-contents .modal-cont-wrap p a {
  text-decoration: underline;
}

/* GNB-MAIN */
.gnb-main {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 0;
  opacity: 0;
  transition: 0.3s;
}
.gnb-main.open {
  height: calc(100vh - 80px);
  opacity: 1;
}
.gnb-main .gnb-main-area {
  display: flex;
  position: fixed;
  width: inherit;
  height: inherit;
}
.gnb-main-area.skin {
  background-color: #f0efe0;
}
.gnb-main-area.body {
  background-color: #ece3d3;
}
.gnb-main-area.hair {
  background-color: #ded8d4;
}

.gnb-main-area .gnb-main-content {
  padding: 80px 72px 0 40px;
  width: 70vw;
  display: flex;
  /* justify-content: space-between; */
  position: relative;
}
.gnb-main-area .gnb-main-img img {
  position: absolute;
  top: 0;
  right: 0;
  width: 32vw;
}
.gnb-main-area .gnb-main-content .logo {
  margin-right: 215px;
}
.gnb-main-content .gnb-main-content-txt {
  margin-top: 10px;
  margin-right: 58px;
}
.gnb-main-content .gnb-main-content-txt .gnb-main-content-txt-one {
  margin-bottom: 45px;
}
.gnb-main-content .gnb-main-content-txt li {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 14px;
  width: 250px;
}
.gnb-main-content .gnb-main-content-txt li a {
  position: relative;
}
.gnb-main-content .gnb-main-content-txt li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #252525;
  transition: 0.5s;
}
.gnb-main-content .gnb-main-content-txt li a:hover::after {
  width: 100%;
}
.gnb-main-content .gnb-main-content-bottom {
  position: absolute;
  right: 210px;
  bottom: 65px;
}
.gnb-main-content .gnb-main-content-bottom p {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}
.gnb-main-content .gnb-main-content-bottom h5 {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}
.gnb-main-content .gnb-main-content-bottom h5 svg {
  fill: #666;
}
.gnb-main-content .gnb-main-content-bottom img {
  width: 23vw;
}

/* MAIN */
.main-back-img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -200px;
  z-index: -10;
}
.main-banner-wrap {
  position: absolute;
  top: 225px;
  left: 40px;
  display: flex;
}
.main-banner-wrap svg {
  fill: white;
}
.main-banner-txt {
  color: #fff;
  margin-left: 150px;
}
.main-banner-txt .top {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 28px;
}
.main-banner-txt .middle {
  font-size: 28px;
  margin-bottom: 24px;
}
.main-banner-txt .bottom {
  font-size: 16px;
  margin-bottom: 35px;
}
.main-banner-txt .btn svg {
  margin-left: 150px;
}

/* SECTION1 */
.section1 .swiper {
  padding-left: 80px;
  padding-right: 80px;
}
.swiper-wrapper .slide-txt {
  width: 434px;
}
.swiper-wrapper {
  margin-bottom: 50px;
}
.section1-txt-wrap .top {
  font-size: 14px;
  margin-bottom: 15px;
}
.section1-txt-wrap .big {
  font-size: 30px;
  margin-bottom: 30px;
}
.section1-txt-wrap .long {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
.section1-txt-wrap .bottom {
  font-size: 15px;
  cursor: pointer;
}
.section1 .swiper-slide {
  width: 436px;
  cursor: pointer;
  box-sizing: border-box;
}
.section1 .swiper-slide:hover .sec1-slider-txt > h4 {
  text-decoration: underline;
}
.section1 .swiper-slide img {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.section1 .swiper-slide .sec1-slider-txt {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}

.section1 .swiper .swiper-button-prev {
  width: 80px;
  height: 80px;
  background-color: #333;
  position: absolute;
  left: -80px;
  transition: 0.5s;
}
.section1 .swiper .swiper-button-next {
  width: 80px;
  height: 80px;
  background-color: #333;
  position: absolute;
  right: -80px;
  transition: 0.5s;
}
.section1 .swiper:hover .swiper-button-prev {
  left: 0;
}
.section1 .swiper:hover .swiper-button-next {
  right: 0;
}

.section1 .swiper .swiper-button-prev i,
.section1 .swiper .swiper-button-next i {
  color: #fffef2;
}

.section1 .swiper .swiper-button-prev.swiper-button-disabled {
  left: -80px;
}
.section1 .swiper .swiper-button-next.swiper-button-disabled {
  right: -80px;
}
.section1 .swiper .swiper-button-next:after,
.section1 .swiper .swiper-button-prev:after {
  display: none;
}

.section1 .swiper .swiper-scrollbar {
  margin: auto;
  width: 90%;
  height: 2px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.section1 .swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: rgba(0, 0, 0, 0.6);
  /* transition-duration: 5s; 
  scrollbar-drag 가 움직일 때의 duration 에 줘야 해서 안 먹는 듯
  */
}

/* SECTION2 */
.section2 {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
}
.section2 .sec2-txt {
  width: 40%;
  padding-left: 80px;
}
.sec2-txt p {
  font-size: 14px;
  margin-bottom: 20px;
}
.sec2-txt h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.sec2-txt > div {
  margin-bottom: 30px;
}
.section2 video {
  width: 60%;
}
.sec2-txt .btn svg {
  margin-left: 200px;
}

/* SECTION3 */
.section3 {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.section3 img {
  width: 60%;
}
.section3 .sec3-txt {
  width: 30%;
  margin-right: 70px;
}
.sec3-txt h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.sec3-txt p {
  line-height: 25px;
  margin-bottom: 30px;
}
.sec3-txt .btn svg {
  margin-left: 200px;
}

/* SECTION4 */
.section4 {
  margin-top: 155px;
}
.section4 h2 {
  font-size: 30px;
  margin-left: 80px;
  margin-bottom: 110px;
}
.sec4-slider-txt {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}
.section4 .swiper {
  padding-left: 80px;
  padding-right: 80px;
}
.section4 .swiper .swiper-wrapper {
  align-items: flex-end;
}
.section4 .swiper-slide {
  width: 436px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.section4 .swiper-slide:hover .sec4-slider-txt > h4 {
  text-decoration: underline;
}
.section4 .swiper-slide img {
  width: 80%;
}
.section4 .swiper-slide .sec4-slider-txt {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}

.section4 .swiper .swiper-button-prev {
  width: 80px;
  height: 80px;
  background-color: #333;
  position: absolute;
  left: -80px;
  transition: 0.5s;
}
.section4 .swiper .swiper-button-next {
  width: 80px;
  height: 80px;
  background-color: #333;
  position: absolute;
  right: -80px;
  transition: 0.5s;
}
.section4 .swiper:hover .swiper-button-prev {
  left: 0;
}
.section4 .swiper:hover .swiper-button-next {
  right: 0;
}

.section4 .swiper .swiper-button-prev i,
.section4 .swiper .swiper-button-next i {
  color: #fffef2;
}

.section4 .swiper .swiper-button-prev.swiper-button-disabled {
  left: -80px;
}
.section4 .swiper .swiper-button-next.swiper-button-disabled {
  right: -80px;
}
.section4 .swiper .swiper-button-next:after,
.section4 .swiper .swiper-button-prev:after {
  display: none;
}

.section4 .swiper .swiper-scrollbar {
  margin: auto;
  width: 90%;
  height: 2px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.section4 .swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: rgba(0, 0, 0, 0.6);
  /* transition-duration: 5s; 
  scrollbar-drag 가 움직일 때의 duration 에 줘야 해서 안 먹는 듯
  */
}

/* SECTION5 */
.section5 {
  margin-top: 198px;
  display: flex;
  justify-content: space-between;
}
.section5 .sec5-txt {
  width: 30%;
  margin-left: 80px;
}
.sec5-txt h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.sec5-txt p {
  line-height: 30px;
  margin-bottom: 30px;
}
.sec5-txt .btn svg {
  margin-left: 130px;
}
.section5 .swiper {
  width: 1100px;
  margin: 0;
}
.section5 .swiper-slide img {
  width: 100%;
}
.section5 .swiper-slide p {
  color: #666;
  font-size: 14px;
  margin-top: 95px;
}
.section5 .swiper .swiper-button-prev {
  width: 80px;
  height: 80px;
  background-color: #333;
  position: absolute;
  left: -80px;
  top: 38%;
  transition: 0.5s;
}
.section5 .swiper .swiper-button-next {
  width: 80px;
  height: 80px;
  background-color: #333;
  position: absolute;
  right: -80px;
  top: 38%;
  transition: 0.5s;
}
.section5 .swiper:hover .swiper-button-prev {
  left: 0;
}
.section5 .swiper:hover .swiper-button-next {
  right: 0;
}

.section5 .swiper .swiper-button-prev i,
.section5 .swiper .swiper-button-next i {
  color: #fffef2;
}

.section5 .swiper .swiper-button-prev.swiper-button-disabled {
  left: -80px;
}
.section5 .swiper .swiper-button-next.swiper-button-disabled {
  right: -80px;
}
.section5 .swiper .swiper-button-next:after,
.section5 .swiper .swiper-button-prev:after {
  display: none;
}

.section5 .swiper .swiper-scrollbar {
  height: 2px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

.section5 .swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: rgba(0, 0, 0, 0.6);
  /* transition-duration: 5s; 
  scrollbar-drag 가 움직일 때의 duration 에 줘야 해서 안 먹는 듯
  */
}

/* FOOTER */
footer {
  width: 100%;
  margin-top: 150px;
  background-color: #252525;
  color: #fffef2;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 40px;
  padding: 50px 40px;
}
.grid-communication {
  grid-column: 1/3;
}
.grid-communication h3 {
  font-size: 15px;
  margin-bottom: 25px;
}
.communication-form {
  padding-top: 20px;
  border-top: 1px solid #fffef2;
  font-size: 14px;
  line-height: 28px;
}
.communication-form > p {
  margin-bottom: 16px;
}
.age-wrap {
  margin-bottom: 16px;
}
#age,
#information,
#marketing {
  display: none;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #fffef2;
  cursor: pointer;
}
input[type="checkbox"] + label span:active {
  outline: 2px solid #fff;
}
input[type="checkbox"]:checked + label span {
  background: url(../img/check-mark.png) no-repeat center;
  background-size: 15px;
}
label span {
  margin-right: 5px;
}

.information-bottom,
.marketing-bottom {
  border: 1px solid #fffef2;
  border-radius: 3px;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 17px;
}
.email label {
  position: relative;
}
.email input {
  width: 666px;
  height: 37px;
  background-color: transparent;
  border: 1px solid #fffef2;
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding: 10px;
  vertical-align: bottom;
}
.email span {
  position: absolute;
  top: -3px;
  left: 10px;
  z-index: 10;
  font-size: 20px;
  color: #fffef2;
}
.email button {
  background-color: transparent;
  border: 1px solid #fffef2;
  border-radius: 0 3px 3px 0;
  padding: 10px;
  position: relative;
  left: -5px;
}
.email svg {
  fill: #fffef2;
}

/* order */
.grid-order h3 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
}
.order-link {
  border-top: 1px solid #fffef2;
  padding-top: 16px;
}
.order-link li a {
  font-size: 14px;
  line-height: 35px;
}
.order-link li a svg {
  fill: #fffef2;
}

/* service */
.grid-service h3 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
}
.service-link {
  border-top: 1px solid #fffef2;
  padding-top: 16px;
}
.service-link li a {
  font-size: 14px;
  line-height: 35px;
}

/* location */
.grid-location h3 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
}
.location-wrap {
  border-top: 1px solid #fffef2;
  padding-top: 16px;
}
.location-wrap li {
  font-size: 14px;
  line-height: 35px;
}
.location-wrap li a {
  text-decoration: underline;
}

/* sustainability */
.grid-sustainability {
  grid-column: 1/3;
}
.grid-sustainability h3 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
}
.grid-sustainability p {
  border-top: 1px solid #fffef2;
  padding-top: 16px;
  font-size: 14px;
  line-height: 35px;
}
.grid-sustainability p a {
  text-decoration: underline;
}

/* introduce */
.grid-introduce h3 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
}
.introduce-link {
  border-top: 1px solid #fffef2;
  padding-top: 16px;
}
.introduce-link li a {
  font-size: 14px;
  line-height: 35px;
}

/* sns */
.grid-sns h3 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
}
.sns-link {
  border-top: 1px solid #fffef2;
  padding-top: 16px;
}
.sns-link li a {
  font-size: 14px;
  line-height: 35px;
}
.sns-link li a svg {
  fill: #fffef2;
}

/* caution */
.grid-caution h3 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
}
.grid-caution div {
  border-top: 1px solid #fffef2;
  padding-top: 16px;
  font-size: 14px;
  line-height: 25px;
}
.grid-caution div a {
  text-decoration: underline;
}

/* footer-copyright */
.footer-copyright {
  padding: 26px 40px;
  border-top: 3px solid #fffef2;
}
.footer-copyright p {
  font-size: 17px;
}

/* consulting-btn */
.consulting-btn {
  background: url(../img/live-chat-icon.svg) no-repeat center;
  width: 37px;
  height: 37px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 1000;
  border: 1px solid #fffef2;
  border-radius: 50%;
}
