#banner-modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#banner-modal.modal-open {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
#banner-modal .banner-modal-content {
  position: absolute;
  left: calc(-50vw);
  top: 0;
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  background-color: #f1f0e8;
  padding-top: 50em;
  padding-left: 10vw;
  padding-right: 10vw;
  box-sizing: border-box;
  transition: 0.3s;
}
#banner-modal.modal-open .banner-modal-content {
  left: 0;
}
.banner-modal-content ul li {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  padding-top: 1em;
  padding-bottom: 1em;
}
.banner-modal-content ul li:last-child {
  border-bottom: 1px solid rgba(51, 51, 51, 0);
  margin-bottom: 50px;
}
.banner-modal-content ul li h5 {
  color: #333;
  padding: 1rem 0;
}
.banner-modal-content ul li div {
  color: #666;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
}
.close {
  color: #000;
  float: right;
  font-size: 28px;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-bottom: 50px;
  display: block;
  height: 30px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
.header-modal {
  display: none;
  position: absolute;
  top: 80px;
  height: 0;
  width: 100vw;
  z-index: 20;
  /* transition: height 0.5s; */
}
.header-modal.on {
  display: block;
}
.header-modal svg {
  position: absolute;
  top: 90px;
  left: 35px;
}
.header-modal .header-modal-menu {
  display: none;
  font-size: 16px;
}
.header-modal .header-modal-menu.open {
  display: block;
}
.header-modal #modal-skincare {
  background-color: #f0efe0;
}
.header-modal #modal-body {
  background-color: #ece3d3;
}
.header-modal #modal-hair {
  background-color: #ded8d4;
}
.header-modal #modal-perfume {
  background-color: #f5ece4;
}
.header-modal #modal-home {
  background-color: #f7f1ec;
}
.header-modal #modal-kit {
  background-color: #ebeadf;
}
.header-modal #modal-gift {
  background-color: #e9f0e3;
}
.header-modal #modal-read {
  background-color: #fefef2;
}
.header-modal .inner {
  height: 100%;
  display: flex;
  padding-top: 90px;
  padding-left: 300px;
  justify-content: space-between;
  position: relative;
}
.header-modal a {
  color: #333;
}
/* #modal-skincare .inner .column-1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#modal-skincare .inner .column-2 {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
} */
.header-modal .inner .modal-txt {
  display: flex;
  gap: 46px;
}
.header-modal .inner .modal-txt .column {
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  line-height: 1.5;
}
.header-modal .inner .modal-txt .column .padding {
  padding-top: 20px;
}
.header-modal .inner .column li a {
  position: relative;
  padding-bottom: 5px;
}
.header-modal .inner .column a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5px;
  width: 0;
  background-color: #333;
  opacity: 0.5;
  transition: 0.5s;
}
.header-modal .inner .modal-txt .column a:hover::after {
  width: 100%;
}
.header-modal .inner .right-side img {
  width: 487px;
  /* height: 100%; */
  margin-top: -90px;
}
.header-modal .header-modal-menu .inner .detail {
  position: absolute;
  bottom: 0;
  left: 36%;
  width: 355px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header-modal .header-modal-menu .inner .detail li.padding {
  font-size: 14px;
}
.header-modal .header-modal-menu .inner .detail img {
  width: 355px;
}
